</br>
<div ng-hide="!issuers">
<section ng-controller="SortController">
  <span class="label">Ordered By: {{orderByField}}</span><br><br>
  <table id="issuerList" class="table table-bordered"><!--  border="1">-->
    <thead>
      <tr>
        <th>
          <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">
          Issuer Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='accountType'; reverseSort = !reverseSort">
          Account Type <span ng-show="orderByField == 'accountType'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='status'; reverseSort = !reverseSort">
          Account Status <span ng-show="orderByField == 'status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issuer in issuers | limitTo:5|orderBy:orderByField:reverseSort">
       		  <td>{{issuer.name}}</td>
			  <td>{{issuer.accountType}}</td> 
			  <td>{{issuer.status}}</td>
			</tr>
    </tbody>
  </table>
</section>
<!-- <table id="issuerList" border="1">
			<tr>
			  <td>Issuer Name</td>
			  <td>Account Type</td> 
			  <td>Account Status</td>
			</tr>
			<tr ng-repeat="issuer in issuers | limitTo:5 ">
			  <td>{{issuer.name}}</td>
			  <td>{{issuer.accountType}}</td> 
			  <td>{{issuer.status}}</td>
			</tr>
		</table> -->
		<br>
		<input type="button" onclick="tableToExcel('issuerList', 'Issuer List')" value="Export to Excel">
</div> 
